<div class="hero-unit2">

<h2><%= @team.team_name.pluralize %></h2>

<p>
  <b>Location:</b>
  <%= @team.location %>
</p>

<p ><%= @team.description %></p>

<%= @team.practices %>
</div>
<div class="page-actions">
<%= link_to 'Edit', edit_team_path(@team), :class => 'btn btn-primary'%>
</div>