<div class="hero-unit2">

<h2><%= @team.team_name.pluralize %></h2>

<p>
  <b>Location:</b>
  <%= @team.location %>
</p>

<p ><%= @team.description %></p>

</div>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
