<%= form_for([@team, setup_workout(@workout)]) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :group, 'Group Workout? uncheck for individuals', :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :group %>
    </div>
  </div>

<table class="table table-bordered"><thead><tr>
<th>Order</th>
	<th>Activity</th>
	<th>Minutes</th>
	<th>Reps</th>
	<th>Delete</th></tr></thead><tbody>
  <%= f.fields_for :plans do |ff| %>
    <tr>
	<td>
	    <%= ff.number_field :position %>
	</td><td>	  <%= ff.select :activity_id, @activities.collect {|w| [w.name, w.id]}, { :include_blank => true} %>
	</td><td>		<%= ff.number_field :minutes %>
	</td><td>		<%= ff.number_field :reps %>
      <% if ff.object.persisted? %>
    	</td><td>    <%= ff.check_box :_destroy %>
		<% else %>
		</td><td>
      <% end %>
    </td></tr>
  <% end %></tbody>
</table>


  <div class="actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
