<h1>Listing workouts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>When</th>
    <th>Group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workouts.each do |workout| %>
  <tr>
    <td><%= workout.name %></td>
    <td><%= workout.when %></td>
    <td><%= workout.group %></td>
    <td><%= link_to 'Show', team_workout_path(@team, workout) %></td>
    <td><%= link_to 'Edit', edit_team_workout_path(@team, workout) %></td>
    <td><%= link_to 'Destroy', team_workout_path(@team, workout), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<nav>
	<ul>
		<li>
			<%= link_to 'Team', team_path(@team) %></li>
		<li>
			<%= link_to 'New Workout', new_team_workout_path(@team) %>
		</li>
	</ul>
</nav>