<div class="page-header">
	<h1>Listing workouts</h1>
</div>

<p>This is your collection of workouts. Once workouts are created you may assign them to the team or players accordingly.  We keep all the workouts so you can reuse them later on.</p>

<% if @workouts.empty? %>
<h3>No workouts yet. Let's add one!</h3>
<% else %>
<table class="table table-striped">
<thead>  <tr>
    <th>Name</th>
    <th>Group</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead><tbody>
<% @workouts.each do |workout| %>
  <tr>
    <td><%= workout.name %></td>
    <td><%= workout.group %></td>
    <td><%= link_to 'Schedule', new_team_workout_practice_path(@team, workout) %></td>
    <td><%= link_to 'Planned', team_workout_practices_path(@team, workout) %></td>
    <td><%= link_to 'Show', team_workout_path(@team, workout) %></td>
    <td><%= link_to 'Edit', edit_team_workout_path(@team, workout) %></td>
    <td><%= link_to 'Destroy', team_workout_path(@team, workout), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %></tbody>
</table>
<% end %>


<div class="page-actions">
<% if @team.activities.empty? %>
			<%= link_to 'Add Activities before creating a workout', new_team_activity_path(@team), :class => 'btn btn-primary' %>
<% else %>
			<%= link_to 'New Workout', new_team_workout_path(@team), :class => 'btn btn-primary' %>
<% end %>
</div>