<%- model_class = Goal.new.class -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize %></h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:active) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th colspan=2><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= link_to goal.name, team_goal_path(@team, goal) %></td>
        <td><%= goal.active %></td>
        <td><%=l goal.created_at %></td>
        <td>
          <%= link_to 'Edit',
                      edit_team_goal_path(@team, goal), :class => '' %>
											</td><td>
          <%= link_to 'Delete',
                      team_goal_path(@team, goal),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => '' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_team_goal_path(@team),
            :class => 'btn btn-primary' %>
