<%= form_for([@team, @activity]) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <% @activity.errors.full_messages.each do |msg| %>
        <div class="alert alert-error"><%= msg %></div>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :minutes %><br />
    <%= f.number_field :minutes %>
  </div>
  <div class="field">
    <%= f.label :group %><br />
    <%= f.check_box :group %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
