<%= form_for([@team, @activity], :html => { :class => 'form-horizontal' }) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <% @activity.errors.full_messages.each do |msg| %>
        <div class="alert alert-error"><%= msg %></div>
      <% end %>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :minutes, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :minutes, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :group, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :group %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
		<%= link_to 'Back', team_activities_path(@team), :class=>'btn' %>
  </div>
<% end %>
