<div class="page-header">
	<h2>Listing activities</h2>
</div>

<% if @activities.empty? %>
<h3>No team activities yet. Activities are required to build workouts. Go ahead and add a few.</h3>
<% else %>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Minutes</th>
    <th>Group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.name %></td>
    <td><%= activity.minutes %></td>
    <td><%= activity.group %></td>
    <td><%= link_to 'Show', team_activity_path(@team, activity) %></td>
    <td><%= link_to 'Edit', edit_team_activity_path(@team, activity) %></td>
    <td><%= link_to 'Destroy', team_activity_path(@team, activity), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<% end %>

<div class="page-actions">
			<%= link_to 'New Activity', new_team_activity_path(@team), :class=> 'btn btn-primary' %>
</div>