<%= form_for([@team, @member], :html => { :class => 'form-horizontal' }) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :number, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :number, :class => 'number_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :player, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :player %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label 'Position (PG, Coach)', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :position %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                team_members_path(@team), :class => 'btn' %>
  </div>
<% end %>
