<div class="page-header">
<h2>Listing members</h2>
</div>
<% if @members.empty? %>
<h3>No team members yet. Why not add a few?</h3>
<% else %>
<table class="table table-striped">
<thead>  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Player</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead><tbody>
<% @members.each do |member| %>
  <tr>
    <td><%= member.number %></td>
    <td><%= member.name %></td>
    <td><%= member.player %></td>
    <td><%= member.position %></td>
    <td><%= link_to 'Show', team_member_path(@team, member) %></td>
    <td><%= link_to 'Edit', edit_team_member_path(@team, member) %></td>
    <td><%= link_to 'Destroy', team_member_path(@team, member), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
<% end %>
<div class="page-actions">
<%= link_to 'New member', new_team_member_path(@team),:class => 'btn btn-primary' %>
</div>