<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @member.name %>
</p>

<p>
  <b>Player:</b>
  <%= @member.player %>
</p>

<p>
  <b>Position:</b>
  <%= @member.position %>
</p>

<table class="table table-striped">
<thead><tr>
	<th>Date</th>
	<th>Activity</th>
	<th>Reps</th>
	</thead>
	<tbody>
<% @member.practice_results.each do |r| %>
	<tr>
		<td><%= link_to r.practice.scheduled_date, team_workout_practice_path(@team, r.plan.workout, r.practice.id) %></td>
		<td><%= r.plan.activity.name %></td>
		<td><%= r.reps %> / <%= r.plan.reps %></td>
	</tr>
<% end %>
</tbody>
</table>
<%= link_to 'Edit', edit_team_member_path(@team, @member) %> |
<%= link_to 'Back', team_members_path(@team) %>
